@import "tailwindcss";

/* ----------------------------- */
/* Theme tokens */
/* ----------------------------- */

/* Light theme */
:root {
  --color-bg: #e6f6fd;
  --color-image-bg: #82d2f4;
  --color-card-bg: #f3ede0;
  --color-card-bg2: #efe4c9;
  --color-text: #0f172a;
  --color-text-secondary: #6b6375;
  --color-border: #e5e7eb;
  --color-card-border: #d4c3a0;
  --color-card-text: #664433;
  --color-accent: #c43825;
  --color-accent-bg: #efe4c9;
  --color-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  --color-header-bg: #ffffff;
  --font-sans: "Inter", system-ui, sans-serif;
}

/* Dark theme */
.dark {
  --color-bg: #2a2a2a;
  --color-image-bg: #1c1d24;
  --color-text: #f1f5f9;
  --color-text-secondary: #9ca3af;
  --color-border: #2e303a;
  --color-card-bg: #f3ede0;
  --color-card-bg2: #efe4c9;
  --color-card-border: #d4c3a0;
  --color-card-text: #3c2f2f;
  --color-accent: #c084fc;
  --color-accent-bg: rgba(192, 132, 252, 0.15);
  --color-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
  --color-header-bg: #1c1d24;
}

/* ----------------------------- */
/* Base styles */
/* ----------------------------- */

body {
  font-family: var(--font-sans);
  @apply bg-(--color-image-bg) text-(--color-text) font-sans text-lg transition-colors duration-300;
  background-image: url("/backgrounds/henesys.png");
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.card-paper {
  background:
    linear-gradient(var(--color-card-bg), var(--color-card-bg2)),
    url("/textures/paper.png");

  background-blend-mode: multiply;
  background-size: auto, 300px;
  background-repeat: no-repeat, repeat;
}

#root {
  @apply min-h-screen;
}
